<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NodeJS e express</title>
</head>
<body>
    <nav>
        <a href="/">Inicio</a> | <a href="/sobre">sobre</a> | <a href="/contato">contato</a>
        <h1>Bem vindo a aplicação NodeJS e express</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta officia suscipit architecto, tempore deleniti iste hic magni, ex modi reprehenderit ipsum nisi aliquid eaque quaerat beatae perferendis eveniet sit? Qui?</p>
    </nav>

    <h1>sobre</h1>
    <img src="https://placeholder.com/500" alt="">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur dolorem a, iste dolorum quia fugit odit error ad voluptas porro voluptate consequatur quibusdam accusantium repellat soluta repudiandae reprehenderit vitae excepturi!</p>

    <h1>contato</h1>
    <p>preencha o formulario abaixo</p>
    <form action="">
        <label for="nome">Nome:</label>
        <input type="text" name="nome" id="nome">
    </form>
    <hr>
</html>